main {
    width: 100%;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div {
    margin: 0px 30px;
}

nav {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Roboto';
    font-weight: light;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3d3d3d;
}

nav div {
    padding: 1px;
    opacity: 0;
    margin: 0px 20px;
}

nav div h2:hover {
    animation-name: optionHover;
    animation-duration: 0.2s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.removeFromView {
    animation-name: removeFromView;
    animation-duration: 0.7s;
}

.addToView {
    animation-name: addToView;
    animation-duration: 0.7s;
}

@keyframes addToView {
    0% {
        opacity: 0;
        transform: translateY(-5vh);
    }
    80% {
        opacity: 1;
        transform: translateY(-0.5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes removeFromView {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 0;
        transform: translateY(5vh);
    }
    100% {
        transform: translateY(10vh);
    }
}

@keyframes optionHover {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(2px);
    }
}

@keyframes fadeIn {
    from {
        transform: translateX(-5px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes adamIntro {
    0% {
        opacity: 1;
        transform: translateX(-100px);
    }
    5% {
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes sheaIntro {
    0% {
        transform: translateY(-90px)scaleY(0);
    }
    50% {
        transform: translateY(-20px)scaleY(1);
    }
    100% {
        transform: translateY(0px)scaleY(1);
    }
}

h1 {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: lighter;
    font-size: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.adam {
    opacity: 1;
    animation-name: adamIntro;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-left: 70px;
    color: #3d3d3d;
}

.shea {
    transform: translateY(-90px)scaleY(0);
    margin-top: -100px;
    color: #82577f;
    animation-name: sheaIntro;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.desc {
    opacity: 0;
    margin-top: -85px;
    margin-left: 0;
    color: #82577f;
    font-family: 'Montserrat';
    font-size: 18px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    text-align: center;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.aboutContainer div {
    width: 99%;
}

.aboutContainer div div {
    margin: 0;
    max-width: 100%;
}

.aboutContainer div h2 {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: lighter;
    font-size: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
}

.aboutContainer div div div {
    display: flex;
    font-size: 100px;
    color: #835980;
    max-width: 100%;
    flex-wrap: wrap;
}

.aboutContainer div div div i {
    opacity: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topAbout {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.awards {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutTitle {
    color: #3d3d3d;
    font-size: 70px;
}

.aboutText {
    color: #3d3d3d;
    font-family: 'Roboto';
    font-weight: light;
    font-size: 20px;
    margin-top: -50px;
}

.projectContainer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    justify-content: start;
}

.projectContainer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectContainer h1 {
    max-width: 90%;
    font-size: 50px;
    text-align: center;
}

.card {
    border-radius: 20px;
    box-shadow: grey 0px 0px 3px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    max-width: 250px;
    margin: 10px;
}

.card h2 {
    font-size: 25px;
}

.projectDesc {
    font-family: 'Roboto';
    color: #3d3d3d;
}

.CTA {
    background-color: #82577f;
    color: white;
    text-decoration: none;
    padding: 5px 13px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: light;
}

@media only screen and (max-width: 768px) {
    .topAbout {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .topAbout div {
        width: 100% !important;
    }
    .awards {
        padding: 0px;
    }
    .aboutContainer {
        width: 99%;
    }
    .aboutContainer div div {
        justify-content: center;
        text-align: center;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .awards img {
        width: auto;
    }
}

@media only screen and (max-width: 487px) {
    .adam {
        font-size: 70px;
    }
    .shea {
        font-size: 70px;
        margin-top: -75px;
    }
    .desc {
        margin-top: -60px;
    }
}